.upcoming_bg {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.upcoming__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* Ensuring the content is stacked vertically */
    text-align: center;
    /* Ensure the text is centered */
}

.upcoming_padding {
    padding: 4rem 6rem;
}

.upcoming_wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.upcoming {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}

.upcoming_header {
    padding: 10px 20px;
    /* Add padding inside the header */
    display: inline-block;
    /* Ensure the background color doesn't span the full width */
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
}

.upcoming_para {
    font-family: "Hammersmith One", sans-serif;
    font-size: 30px;
    line-height: 1.4;
    /* Adjusted for better spacing */
    color: #718f74;
}

.upcoming_gallery_images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    position: relative;
}

.upcoming_gallery_images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.upcoming_gallery_images_container::-webkit-scrollbar {
    display: none;
}


.upcoming_gallery_images_card {
    position: relative;
    min-width: 930px;
    /* Increase the width */
    height: 950px;
    /* Increase the height */
    margin-left: 2rem;
}

.upcoming_gallery_images_card img {
    border: solid var(--color-jess-green) 0.1px;
    /* Using this so that the hover effect can "retract back" rather than disappearing. */
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: border 0.2s ease-in-out;
}

.upcoming_gallery_images_card:hover img {
    opacity: 0.75;
    cursor: pointer;
    border: solid var(--color-jess-green) 8px;
    border-radius: 10px;
}

.upcoming_gallery_images_card:hover .gallery__image-icon {
    opacity: 1;
}

.upcoming_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.upcoming_content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.upcomingMobile {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upcoming_para_mobile {
    font-family: "Hammersmith One", sans-serif;
    letter-spacing: 0.04em;
    line-height: 30px;
    /* Adjusted for better spacing */
    font-size: 30px;
    color: #718f74;
}

.upcoming_chef_sign {
    width: 100%;
    margin-top: 3rem;
}

.upcoming_chef_sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.gallery-container {
    margin-top: 2rem;
    justify-content: center; /* Center the images horizontally */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 16px; /* Space between images */
}

.gallery-image {
    width: 100%;
    /* Ensure the image takes up the full width of the grid cell */
    height: 300px;
    /* Set a fixed height for uniform size */
    object-fit: cover;
    /* Crop images to fill the container while preserving aspect ratio */
    border-radius: 8px;
    /* Optional: rounded corners */
}

.gallery-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery-item img{
    border: solid var(--color-jess-green) 0.1px;
    object-fit: cover;
    opacity: 1;
    transition: border 0.2s ease-in-out;
    
}

.gallery-item:hover img {
    opacity: 0.75;
    cursor: pointer;
    border: solid var(--color-jess-green) 8px;
    border-radius: 10px;
}

.gallery-item:hover .gallery__image-icon {
    opacity: 1;
}

.image-details {
    margin-top: 8px;
    /* Space between image and text */
}


@media screen and (max-width: 1200px) {
    .gallery-image {
        height: 450px;
    }
}

@media screen and (max-width: 1150px) {
    .upcoming__wrapper {
        flex-direction: column;
    }
    .upcoming_gallery_images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 1030px) {
    .gallery-image {
        height: 450px;
    }
}

@media screen and (max-width: 980px) {
    .gallery-image {
        height: 400px;
    }
}

@media screen and (max-width: 890px) {
    .gallery-image {
        height: 350px;
    }
}

@media screen and (max-width: 850px) {
    .upcoming_padding {
        padding: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); /* Maintain 2 columns on tablet */
    }
}

@media screen and (max-width: 740px) {
    .gallery-image {
        height: 300px;
    }
}

@media screen and (max-width: 650px) {
    .upcoming_padding {
        padding: 4rem 2rem;
    }

    .upcoming_gallery_images_card {
        min-width: 240px;
        height: 320px;
    }
}


@media screen and (min-width: 541px) and (max-width: 649px) {
    .gallery-image {
        height: 250px;
    }
}

@media screen and (min-width: 480px) and (max-width: 540px) {
    .gallery-image {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        grid-template-columns: 1fr; /* Stack images in a single column on mobile */
    }
    .gallery-image {
        height: 360px;
    }
}

@media screen and (max-width: 410px) {
    .gallery-image {
        height: 300px;
    }
}

@media screen and (max-width: 340px) {
    .gallery-image {
        height: 250px;
    }
}

@media screen and (max-width: 300px) {
    .gallery-image {
        height: 200px;
    }
}