.disabled-date {
  background-color: red;
  color: red;
  border-radius: 50%;
}

.booking-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  padding: 4rem 0;
}

.booking-calendar label{
  background: white;
}

.calendar-container {
  max-width: 800px;
  width: 100%;
  margin-top: 2rem;
}

.react-calendar {
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  border-color: var(--color-jess-pink);
  font-family: var(--font-base);
  font-size: 20px;
}

.react-calendar__tile {
  background: transparent;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background: var(--color-jess-green);
  color: white;
}

.react-calendar__tile--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.calendar-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.session-type-select {
  border: solid transparent 1px;
  padding: 0.8em;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  margin: 0.5em 0 1em 0;
  font-size: 1.1em;
  background: #eee;
  color: #969696;
  font-family: 'Courier New', Courier, monospace;
}

.session-type-select:hover {
  border: solid black 1px;
}

.session-type-select:focus {
  outline: none;
}

.session-type-select option {
  background-color: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.custom__button {
  padding: 0.5rem 1rem;
  background-color: var(--color-jess-green);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom__button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.calendar_input {
  border: solid var(--color-jess-pink) 1px;
  padding: 0.8em;
  width: 100%;
  border-radius: 5px;
  margin: 0.5em 0 1em 0;
  font-size: 1.1em;
  background: #ffffff;
  color: #969696;
  font-family: 'Courier New', Courier, monospace;
}

.react-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* CSS for the modal title */
.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* CSS for the modal message */
.modal-message {
  font-size: 16px;
  margin-bottom: 20px;
}

/* CSS for the modal close button */
.modal-close-btn {
  background-color: var(--color-jess-pink);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* CSS for the modal close button on hover */
.modal-close-btn:hover {
  background-color: #d32f2f;
}