/* Navbar positioning. */
.app__navbar {
    background-color: #f8f7f6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    /* position: sticky; */
    top: 0;
    z-index: 5;
}

/* Navbar logo positioning. */
.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Navbar logo size. */
.app__navbar-logo img {
    max-width: 125px;
}

/* Navigation links positioning. */
.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

/* Navigation links styling. */
.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    font-family: "Hammersmith One", sans-serif;
    font-size: 25px;
    color : var(--color-jess-pink);
}

/* Navigation links hover effect. */
.app__navbar-links li:hover {
    color: var(--color-jess-blue);
}

/* Styling for the "inquiries" button including transition for the underline. */
.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}

/* Give underline when hovering over "inquiries". */
.app__navbar-login a:hover {
    border-bottom: 1px solid var(--color-golden);
}

.app__navbar-smallscreen {
    display: none;
}

/* Here you can change the background of the overlay and the animation. */
.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f7f6;
    transition: transform 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay.slide-left {
    transform: translateX(0%);
}

.app__navbar-smallscreen_overlay.slide-right {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Change cursor for humberger icon. */
.app__navbar-smallscreen-closebutton {
    cursor: pointer;
}

/* Here you can change the colour of the "x" button to close the overlay. */
.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-jess-blue);
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

/* Remove bulletpoints from overlay links. */
.app__navbar-smallscreen_links {
    list-style: none;
}

/* Change the appreance of the text inside the overlay. */
.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-jess-pink);
    font-size: 2rem;
    text-align: center;
    font-family: 'Hammersmith', sans-serif;
    transition: color 0.3s ease;

}

/* Hover effects for text inside overlay */
.app__navbar-smallscreen_links li:hover {
    color: var(--color-jess-pink);
}

@media screen and (max-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
        position: unset;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo {
        width: 110px;
    }
    .app__navbar-logo img {
        max-width: 100px;
    }
}