.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.app__chef-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__chef-sign {
    width: 100%;
    margin-top: 3rem;
}

.app__chef-sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.background_image {
    background-image: url('../../assets/pink_blob3.svg');
    background-repeat: no-repeat;
    background-size: 87%;
    background-position: -10rem 1rem;
}

.infoBox {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}

.infoBox_header {
    padding: 10px 20px; /* Add padding inside the header */
    display: inline-block; /* Ensure the background color doesn't span the full width */
    text-align:center;
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
}

.infoBox_para {
    font-family: "Hammersmith One", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4; /* Adjusted for better spacing */
    color: #718f74;
}

.infoBoxMobile {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.infoBox_para_mobile {
    font-family: "Hammersmith One", sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.4; /* Adjusted for better spacing */
    font-size: 1.8rem;
    color: #718f74;
}

.background_image_phone {
    /* background-image: url('../../assets/pink_blob4.svg'); */
    background-repeat: no-repeat;
    background-size: 101%;
    /* background-position: 0rem 20rem; */
}

@media screen and (max-width: 1620px) {
    .background_image {
        background-size: 100%;
        background-position: -10rem 10rem;
    }
    .infoBox_header {
        width: 120%;
    }
    .infoBox_para {
        margin-left: 2rem;
        width: 100%;
        font-size: 1.6rem
    }
}

@media screen and (max-width: 1350px) {
    .background_image {
        background-size: 100%;
        background-position: -10rem 15rem;
    }
    .infoBox_para {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1310px) {
    .background_image {
        background-size: 100%;
        background-position: -10rem 15rem;
    }

}

@media screen and (max-width: 1280px) {
    .background_image {
        background-size: 100%;
        background-position: -10rem 25rem;
    }
}


@media screen and (max-width: 1200px) {
    .infoBox_header {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .infoBox_header {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .infoBox_para_mobile {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 700px) {
    .infoBox_header {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .infoBox_para_mobile {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    .infoBox_para_mobile {
        font-size: 1rem;
    }
}



