.header {
    text-align: center;
  }
  
  .imageContainer {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .mainImage {
    width: 90%;
    max-width: none;
    height: auto;
    object-fit: cover;
  }
  
  .buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* margin: 30px 0 30px 0; */
    margin-bottom: 30px;
  }
  
  .button {
    width: 27%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }
  
  .thumbnailsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .thumbnail {
    width: 27%;
    height: auto;
    object-fit: cover;
  }

/* ----------------------------------------------------------- FOR MOBILE HEADER PHOTOS -----------------------------------------------------------*/

.top_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header_gallery_images_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}

.header_gallery_images {
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header_gallery_images::-webkit-scrollbar {
  display: none;
}

.header_gallery_images.no_scroll {
  pointer-events: none;
}

.header_images_card {
  position: relative;
  min-width: 100%;
  height: 500px;
}

.header_images_card img {
  border: solid var(--color-jess-green) 0.1px; /* Using this so that the hover effect can "retract back" rather than disappearing. */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: border 0.2s ease-in-out;
}

.header_images_card:hover img {
  opacity: 0.75;
  cursor: pointer;
  border: solid var(--color-jess-green) 8px;
  border-radius: 10px;
}

.header_images_card:hover .gallery__image-icon {
  opacity: 1;
}

.gallery__image-icon {
  position: absolute;
  color: var(--color-jess-green);
  font-size: 2rem;
  opacity: 0;
  transition: 0.5s ease;
  cursor: pointer;
}

.app__gallery-images_card:hover .gallery__image-icon {
  opacity: 1;
}

.overlay_image {
  position: absolute;
  top: 240px;
  left: 0px;
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  z-index: 10; /* Make sure it's in front of other elements */
}

/* Add this to make sure the parent container is positioned correctly */
.header_gallery_images_container {
  position: relative;
}

/* Overlay button styling */
.overlay_button {
  position: absolute;
  top: 390px; /* Adjust top position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  z-index: 1; /* Make sure it's in front of other elements */
  pointer-events:all;
  cursor: pointer;
}

/* ----------------------------------------------------------- END -----------------------------------------------------------*/

/* .app__header {
    background-color: white;
}

.app__header-h1 {
    font-family: var(--font-alts);
    color: black;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    line-height: 117px; 
    font-size: 60px;
}

.app__header-img img {
    width: 100%;
}
 */

 @media screen and (min-width: 2000px) {
    .imageContainer {
      height: 400px;
    }
    /* .button {
      padding: 15px 30px;
      font-size: 18px;
    } */
  }
  
  @media screen and (max-width: 1150px) {
    .imageContainer {
      height: 250px;
    }
    .header {
      margin-bottom: -20rem;
    }
    /* .button {
      padding: 10px 15px;
      font-size: 14px;
    } */
  }
  
  @media screen and (max-width: 850px) {
    .imageContainer {
      height: 200px;
    }
    .header {
      margin-bottom: -10rem;
    }
    /* .button {
      padding: 8px 12px;
      font-size: 12px;
    }
    .buttonsContainer{
      max-width: 1%;
    } */
  }
  
  @media screen and (max-width: 650px) {
    .thumbnail {
      width: 160px;
      height: 160px;
    }
    .thumbnailsContainer{
      gap: 20px;
    }
    .top_container {
      margin-bottom: 4rem;
    }
    /* .buttonsContainer {
      justify-content: space-between;
    }
    .button{
      width: 130px;
      height: 35px;
    } */

  }
  
  @media screen and (max-width: 450px) {
    .imageContainer {
      height: 150px;
    }
    /* .button {
      padding: 6px 10px;
      font-size: 10px;
    } */
    .thumbnail {
      width: 100px;
      height: 85px;
    }
    .top_container {
      margin-bottom: 0rem;
    }
  }

  @media screen and (max-width: 425px) {
    .top_container {
      margin-bottom: 2rem;
    }
  }


  @media screen and (max-width: 375px) {
    .top_container {
      margin-bottom: 6rem;
    }
  }


  